@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnTest {
    @apply text-white min-w-[80px];
  }

    .card {
      width: theme(spacing.48);
      height: theme(spacing.48);
      padding: theme(spacing.5);
      border-radius: theme('borderRadius.md');
      background-color: theme('colors.sky.300');
    }
  
    .cardC {
      @apply size-48 rounded-md bg-sky-300;
    }
  
    @variants responsive, hover {
      .btn-blue {
        @apply py-2 px-4 bg-blue-500;
      }
    }
    }
  
    @layer utilities {
      .flexTest {
        @apply flex items-center justify-center;
      }
    }