<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>vue</title>
        <script type="text/javascript" src="./vue.js"></script>
    </head>
    <body>
       
       <div id="root">
            <ul>
                <!-- v-for指令
                 1.用于指示列表数据
                2.v-for=(item,index) in xxx :key="yyy" -->
                <!-- 遍历数组 -->
                <li v-for="p in persons" :key="p.id">{{p.name}}-{{p.age}}</li>
                <!-- 遍历对象 -->
               
                <li v-for="(p,index) in car" :key="index">{{p}},{{index}}</li>
                <!-- 遍历字符串 -->
                <li v-for="(p,index) in str" :key="index">{{p}},{{index}}</li>
            </ul>
        </div>
        <script>
           /* 虚拟DOM中key的作用
                key是虚拟DOM对象的标识，当数据发生变化，Vue会根据新数据生成新的虚拟DOM
                随后Vue进行新虚拟DOM与旧虚拟DOM的的差异比较
                对比规则:
                旧虚拟与新虚拟有相同的KEY
                虚拟没变则使用之前的
                若虚拟变了则生成新的替换
                没有找到则创建新的真实DOM
                用index作为key则当发生逆序添加逆序山存储的时候破坏顺序
                结构包括输入类DOM则会产生错误DOM更新
                 */
            const vm=new Vue({
                el:'#root',
                data:{
                  persons:[
                    {id:'001',name:'张三',age:18},
                    {id:'002',name:'李四',age:19},
                    {id:'003',name:'王五',age:20}
                  ],
                  car:{
                    name:'1',
                    place:'1',
                    num:'1'
                  },
                   str:"hello"
                },
              
            })
        </script>
    </body>
   </html>