<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>vue</title>
        <script type="text/javascript" src="./vue.js"></script>
    </head>
    <body>
       
       <div id="root">
        姓:<input type="text" v-model="firstname"><br></br>
        名:<input type="text" v-model="lastname"><br></br>
        全名:<span>{{firstname}}-{{lastname}}</span>
        <br></br>
    
       <div>
       <br>
       </div>
        </div>
        <script>
            /* 计算属性:
            1.定义属性不存在，通过已有属性
            2.原理object.defineproperty
            3.优势与method相比，内部有缓存机制
            4.最终属性最终出现在vm
            5.计算属性修改必须与set函数相应 */
            const vm=new Vue({
                el:'#root',
                data:{
                    firstname:'',
                    lastname:''
                },
                watch:{
                    firstname:{
                        /* IMMEDIATE:初始化时调用handler 
                        当监视属性修改时调用*/
                        handler(newValue,oldValue)
                        {
                            console.log('firstname被修改了',newValue,oldValue);
                        }
                    }
                }
            })
        </script>
    </body>
   </html>